@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    .col-md-4 {
        background-color: #f5f5f5;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    hr {
        border: 0;
        border-top: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .form-floating {
        position: relative;
        margin-bottom: 15px;
    }

        .form-floating input {
            font-size: 1rem;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 50px;
            background-color: transparent;
        }

        .form-floating label {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1rem;
            padding: 10px;
            pointer-events: none;
            transition: all 0.3s ease-in-out;
            color: #999;
        }

        .form-floating input:focus ~ label,
        .form-floating input:not(:placeholder-shown) ~ label {
            top: -20px;
            left: 0;
            font-size: 0.8rem;
            color: #333;
        }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

        .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }
</style>
<h1 class="text-center mx-auto">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.First_name" class="form-control" autocomplete="First_name" aria-required="true" />
                <label asp-for="Input.First_name"></label>
                <span asp-validation-for="Input.First_name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Last_name" class="form-control" autocomplete="Last_name" aria-required="true" />
                <label asp-for="Input.Last_name"></label>
                <span asp-validation-for="Input.Last_name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
